---
layout: default
css: ["index.css", "animate.css", "morphext.css"]
js: ["morphext.min.js", "index.js"]
---

<section id="hero-image" class="full-screen">
  <div id="hero-image-title" class="container hide-on-med-and-down">
    <h1>Justin Timmons</h1>
    <h2>Full-Stack Engineer</h2>
  </div>
</section>

<div class="container">

  <section id="about">
    <h1>About</h1>
    <div class="user-intro">
      <h4 class="hidden center-align">I am a <span id="js-rotating">Stack Half-Full, Entrepreneurial, Data Scient-ish, User-Driven</span> Kind of Engineer</h4>
      <p>
        Over the course of my career I've had the privilege to have my hands in nearly every aspect
        of the product lifecycle. Through these experiences, I've come to the believe that a deep
        understanding of your users combined with a tight and interative feedback loop is key to
        creating lasting and impactful products.

        <br />
        <br />

        What first attracted me to Software Engineering was that it gave me the ability to solve
        some of my own problems, namely, my High-School Chemistry homework. Since then I've been on
        a constant mission to apply those skills towards solving challenging problems and providing
        real value to real people.
      </p>
    </div>
  </section>

  <section id="experience">
    <h1>Experience</h1>
    {% for job in site.experience %}
    <div class="card experience">
      <div class="card-title">
        <div class="experience-header">
          <span class="experience-company">{{job.company.name}}</span>
          <span class="experience-title">{{job.title}}</span>
        </div>
      </div>
      <div class="divider"></div>
      <div class="card-content">
        <p>{{job.company.description | markdownify}}</p>
        {% for detail in job.details %}
        <br />
        <b>{{detail.title}}</b>
        <ul>
          {% for bullet in detail.bullets %}
          <li>{{bullet}}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
      <div class="card-action">
        <div class="experience-footer">
          <div class="experience-tags">
            {% for tag in job.tags %}
            <div class="chip">{{tag}}</div>
            {% endfor %}
          </div>
          <span class="experience-timeline">
            {{job.start}} - {{job.end}}
            <br />
            {{job.company.location}}
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <section id="skills">
    <h1>Skills</h1>
    {% assign skill_categories = site.skills | group_by: "category" %}
    {% for category in skill_categories %}
    <div class="card">
      <div class="card-title">
        <span>{{category.name}}</span>
      </div>
      <div class="divider"></div>
      <div class="card-content">
        <div class="skills-list">
          {% for skill in category.items %}
          <div class="center skill">
            <img src={{skill.icon}} height="100" width="100" />
            <p class="skill-caption">{{skill.name}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <section id="awards">
    <h1>Awards + Recognition</h1>
    <div class="row award">
      {% for award in site.awards %}
      <div class="col s12 m12 l6">
        <div class="card">
          <div class="card-title center-align">
            <span>{{award.name}}</span>
          </div>
          <div class="divider"></div>
          <div class="card-content">
            {{award.description | markdownify}}
          </div>
          <div class="card-action">
            <span class="award-source">{{award.source}}</span>
            <span class="award-date">{{award.date}}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="education">
    <h1>Education</h1>
    <div class="row">
      {% for education in site.education %}
      <div class="card education col s12 m12 l6">
        <div class="card-title">
          <span>{{education.institution}}</span>
        </div>
        <div class="divider"></div>
        <div class="card-action">
          <span class="education-source">{{education.title}}</span>
          <span class="education-date">{{education.graduation}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section id="contact">
    <h1>Contact</h1>
    <div class="row contact-list">
      {% comment %} Divide the number of contact items by 12 to fill / center the row {% endcomment %}
      {% assign num_contacts = site.contact | size %}
      {% assign num_contact_columns = 12 | divided_by: num_contacts %}
      {% for contact in site.contact %}
      <div class="col s{{num_contact_columns}} center">
        <a class="tooltipped" href="{{contact.url}}" data-position="bottom" data-tooltip="{{contact.tooltip}}">
          <i class="{{contact.icon}} large"></i>
          <p class="contact-caption">{{contact.name}}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>

</div>
