<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
      {{ page.title | escape }}
      {% else %}
      {{ site.title | escape }}
      {% endif %}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/assets/res/favicon.ico">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/19d57e1421.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
    {% for css in layout.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    {% for css in page.css %}
    {% if css contains "//" %}
    <link rel="stylesheet" href="{{css}}">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/{{css}}">
    {% endif %}
    {% endfor %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/syntax.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{site.baseurl}}/feed.xml">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{site.baseurl}}/sitemap.xml">
  </head>
  <body>
    <header>
      <div class="hide-on-large-only">
        <nav class="top-nav blue-grey darken-4">
          <div class="nav-wrapper">
            <div class="container">
              <a class="page-title" href="{{site.baseurl}}/">{{site.title}}</a>
            </div>
          </div>
        </nav>
        <div class="container">
          <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only">
            <i class="material-icons">menu</i>
          </a>
        </div>
      </div>
      <ul id="slide-out" class="side-nav fixed">
        <li>
          <div class="userView">
            <span class="name">{{site.user}}</span>
            <span class="email">{{site.user_title}}</span>
          </div>
        </li>
        <li></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/#"><i class="material-icons">home</i>Home</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/#about"><i class="material-icons">person</i>About</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/#experience"><i class="material-icons">work</i>Experience</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/#skills"><i class="material-icons">code</i>Skills</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/#awards"><i class="material-icons">stars</i>Awards</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/#education"><i class="material-icons">school</i>Education</a></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/#contact"><i class="material-icons">contact_mail</i>Contact</a></li>
        <li><div class="divider" /></li>
        <li><a class="waves-effect" href="{{site.baseurl}}/projects"><i class="material-icons">code</i>Projects</a></li>

        {% comment %}disable the blog in the production environment until we have something to show there{% endcomment %}
        {% if jekyll.environment != "production" %}
        <li><a class="waves-effect" href="{{site.baseurl}}/blog"><i class="material-icons">create</i>Blog</a></li>
        {% endif %}
      </ul>
    </header>
    <main>
