---
---

main {
  div {
    .row {
      margin-top: 20px;
    }
  }

  ul {
    &:not(.browser-default) {
      &.pagination {
        padding-left: 0;

        li {
          a {
            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

#hero-image {

  background-image: url("/assets/res/justin.jpg");
  background-position: 50% 20%; /* Center the image around the subject (me) */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-color: #cccccc; /* Used if the image is unavailable */

  #hero-image-title {

    // Don't count as part of hero-image, push more towards center
    position: absolute;
    margin: 2rem 5rem;

    h1, h2 {
      font-weight: lighter;
    }

    h2 {
      font-size: 3rem;
    }
  }
}

#post-title {
  margin-bottom: 2px;
}

#post-date {
  margin-bottom: 8px;
  font-size: 14px;

  i {
    font-size: 11.5px;
    margin-right: 10px;
  }
}

#post-content {
  margin-top: 5px;
}

section#about {
  p {
    font-size: 16pt;
    font-weight: 300;
  }
}

.experience {

  .experience-header {
    display: flex;
    flex-flow: row nowrap;
    .experience-company {
      flex-grow: 1;
    }
    .experience-title {
      min-width: 10rem;
      text-align: right;

      color: #607d8b;
    }
  }

  .experience-footer {
    display: flex;
    flex-flow: row nowrap;
    .experience-tags {
      flex-grow: 1;
    }
    .experience-timeline {
      min-width: 10rem;
      text-align: right;
    }
  }
}


.skills-list {
  margin-left: 1rem;
  display: flex;
  flex-wrap: wrap;

  .skill {
    flex-grow: 1;
    margin: 1rem;

    .skill-caption {
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

.contact-list {
  i {
    color: #607d8b; // materialize blue-grey
  }

  .contact-caption {
    color: #000; // Override normal 'a' colors
    font-size: 1.5rem;
    font-weight: 300;
  }
}


.award {

  .card-action {
    height: 4rem;
  }

  .award-source {
    float: left;
  }

  .award-date {
    float: right;
  }
}

.education {

  .card-action {
    display: flex;
    flex-wrap: nowrap;

    .education-source {
      flex-grow: 1;
    }
  }
}
