---
---

// Overall
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: rgba(0, 0, 0, 0) url("/assets/res/cream_pixels/cream_pixels.png") repeat scroll 0% 0%;
}

a {
  color: #bdbdbd;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

main {
  flex: 1 0 auto;
}

header,
main,
footer {
  padding-left: 200px;
}

.container {
  width: 90%;
}

// Header
header {

  a:hover {
    text-decoration: none;
  }

  .background {
    background: -webkit-linear-gradient(90deg, #3AA17E 10%, #00537E 90%);
    background: linear-gradient(90deg, #3AA17E 10%, #00537E 90%);
  }

  ul.side-nav {
    width: 200px;
  }

  .divider {
    height: 2px; // Divider not visible on large screens without this
  }
}

a {
  &.button-collapse {
    &.top-nav {
      position: absolute;
      text-align: center;
      height: 48px;
      width: 48px;
      top: 0;
      float: none;
      color: #fff;
      font-size: 36px;
      z-index: 999;
      line-height: 80px;
    }
  }
}

nav {
  .page-title {
    font-size: 36px;
    font-weight: 300;
    line-height: 80px;
  }
}

nav {
  &.top-nav {
    height: 80px;
  }
}

// Footer
footer.page-footer {
  margin-top: 10px;
  padding-top: 0px;

  .row {
    margin-bottom: 0px;
  }

  p {
    margin-top: 5px;
  }
}

// Misc
.full-screen {
  height: 100vh;
}

blockquote {
  border-left-color: #263238;  // blue-grey darken-4 for materialize
}

main {
  ul {
    &:not(.browser-default) {
      padding-left: 40px;

      li {
        list-style-type: disc;
      }
    }
  }
}

// Card

.card {
  .card-title {
    padding: 24px; // Same as card-body
  }
}

html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

// medium and down
@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }

  nav {
    .nav-wrapper {
      text-align: center;
    }
  }
}

// small and down
@media only screen and (max-width: 600px) {
  nav {
    .page-title {
      font-size: 20px;
    }
  }
}
