---
---

.card-image {
  height: 10em;
  width: 100%;
  overflow-x: hidden;

  i {
    color: #fff;
    padding: 10px;
  }
}

.card {
  margin-bottom: 20px;

  .card-content {
    height: 7em;
    overflow: hidden;
    font-size: 14px;
    line-height: 110%;

    span {
      width: 100%;
    }
  }

  .card-image {
    a.card-title {
      font-weight: bold;
      color: #fff;
      width: 100%;
      height: 100%;
      line-height: 100%;
      justify-content: center;
      z-index: -1;
    }
  }

  .card-reveal {
    .card-reveal-content {
      display: block;

      span.card-title {
        font-weight: bold;
        padding-bottom: 19px;
      }

      span.tooltipped {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 16px;

        i {
          font-size: 12px;
          margin-right: 10px;
        }
      }
    }
  }
}

.row {
  div {
    &.switch {
      margin-bottom: 5px;
    }
  }
}

.hidden {
  display: none;
}
